<%- include("partials/header") -%>
<section class="sub-header">
    <nav>
        <a href="index.html"><img src="images/logo.png" alt=""></a>

        <div class="nav-links" id="navLinks">
            <i class="fas fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="aboutus.html">ABOUT</a></li>
                <li><a href="course.html">COURSES</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </div>
        <i class="fas fa-bars" onclick="showMenu()"></i>
    </nav>

   <h1>Our Certificate & Online Programs for 2021</h1>
</section>


<section class="blog-content">

<div class="row">
    <div class="left">
        <img src="images/certificate.jpg" alt="">
        <h3>Our Certificate & Online Programs for 2021</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat corrupti aperiam odit exercitationem quo beatae soluta sed pariatur, laboriosam magni, quibusdam quae alias cumque similique odio! Dolor vero voluptatibus magni.</p>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque ipsam modi, facilis quidem tenetur vitae nulla molestiae dolores nam eveniet consectetur incidunt excepturi, quibusdam quis eaque odio odit quia impedit?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, tenetur nam! Laboriosam assumenda, doloremque quos, possimus amet delectus, corrupti dignissimos inventore magni eaque fugiat nemo reiciendis quisquam numquam et placeat!</p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quos dolores? Voluptates natus ea error dolorem distinctio saepe minus magni nesciunt, iste voluptatem, numquam neque sapiente nostrum. Incidunt, harum magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis perspiciatis laudantium explicabo doloremque distinctio non odit qui et delectus sint, enim consequatur nam vitae ex aperiam fugiat obcaecati aliquam maxime?</p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quos dolores? Voluptates natus ea error dolorem distinctio saepe minus magni nesciunt, iste voluptatem, numquam neque sapiente nostrum. Incidunt, harum magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis perspiciatis laudantium explicabo doloremque distinctio non odit qui et delectus sint, enim consequatur nam vitae ex aperiam fugiat obcaecati aliquam maxime?</p>




        <div class="comment-box">
            <h3>Leave a comment</h3>

            <form class="comment-form">

                <input type="text" placeholder="Enter Name">
                <input type="email" placeholder="Enter Email">
                <textarea  rows="5" placeholder="Comment"></textarea>
                <button type="submit" class="red-btn hero-btn">Post Comment</button>
            </form>
        </div>
    </div>
    <div class="right">
            <h3>Post Categories</h3>
            <div>
                <span>Bussiness Analytics</span>
                <span>21</span>
            </div>
            <div>
                <span>Data Science</span>
                <span>28</span>
            </div>
            <div>
                <span>Machine Learning</span>
                <span>15</span>
            </div>
            <div>
                <span>Computer Science</span>
                <span>34</span>
            </div>
            <div>
                <span>AutoCAD</span>
                <span>42</span>
            </div>
            <div>
                <span>Commerce</span>
                <span>30</span>
            </div>
    </div>
</div>
</section>
<%- include("partials/footer") -%>