<%- include("partials/header") -%>

<section class="sub-header">
    <nav>
        <a href="index.html"><img src="images/logo.png" alt=""></a>

        <div class="nav-links" id="navLinks">
            <i class="fas fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/about" target="_blank">ABOUT</a></li>
                <li><a href="/courses" target="_blank">COURSES</a></li>
                <li><a href="/blog" target="_blank">BLOG</a></li>
                <li><a href="/contact" target="_blank">CONTACT</a></li>
            </ul>
        </div>
        <i class="fas fa-bars" onclick="showMenu()"></i>
    </nav>

   <h1>About Us</h1>
</section>


<section class="about-us">
    

    <div class="row">
        <div class="about-col">
            <h1>We Are The Largest Online Institute</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Nulla posuere sollicitudin aliquam ultrices sagittis. Enim facilisis gravida neque convallis. Amet nulla facilisi morbi tempus iaculis urna. Posuere ac ut consequat semper viverra nam libero justo laoreet. Lectus nulla at volutpat diam ut venenatis tellus in metus. Id velit ut tortor pretium viverra. Faucibus a pellentesque sit amet porttitor eget dolor morbi. Ut sem nulla pharetra diam sit amet.</p>
           
            <a class="red-btn hero-btn" href="">7.95M Subscribers</a>
        </div>
        <div class="about-col">
            <img src="images/about.jpg" alt="">
        </div>
    </div>
</section>




<%- include("partials/footer") -%>