<%- include("partials/header") -%>

<section class="sub-header">
    <nav>
        <a href="index.html"><img src="images/logo.png" alt=""></a>

        <div class="nav-links" id="navLinks">
            <i class="fas fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/about" target="_blank">ABOUT</a></li>
                <li><a href="/courses" target="_blank">COURSES</a></li>
                <li><a href="/blog" target="_blank">BLOG</a></li>
                <li><a href="/contact" target="_blank">CONTACT</a></li>
            </ul>
        </div>
        <i class="fas fa-bars" onclick="showMenu()"></i>
    </nav>

   <h1>Our Courses</h1>
</section>

<section class="course">

    <h1>Courses We Offer</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>

    <div class="row">
        <div class="course-col">
            <h3>JEE</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsa pariatur veniam ducimus magni aliquam rem, est vel, esse, quasi voluptatibus quisquam odio at adipisci assumenda modi rerum quibusdam corporis?</p>
            <a class="red-btn hero-btn" href="">Open</a>

        </div>
        <div class="course-col">
            <h3>NEET</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsa pariatur veniam ducimus magni aliquam rem, est vel, esse, quasi voluptatibus quisquam odio at adipisci assumenda modi rerum quibusdam corporis?</p>
            <a class="red-btn hero-btn" href="">Open</a>
            
        </div>
         <div class="course-col">
            <h3>Post-Graduate</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsa pariatur veniam ducimus magni aliquam rem, est vel, esse, quasi voluptatibus quisquam odio at adipisci assumenda modi rerum quibusdam corporis?</p>
            
            <a class="red-btn hero-btn" href="www.google.com">Open</a>
            
        </div>
    </div>
    <div class="row">
        <div class="course-col">
            <h3>NTSE</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsa pariatur veniam ducimus magni aliquam rem, est vel, esse, quasi voluptatibus quisquam odio at adipisci assumenda modi rerum quibusdam corporis?</p>
            <a class="red-btn hero-btn" href="">Open</a>

        </div>
        <div class="course-col">
            <h3>OLYMPIADS</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsa pariatur veniam ducimus magni aliquam rem, est vel, esse, quasi voluptatibus quisquam odio at adipisci assumenda modi rerum quibusdam corporis?</p>
            <a class="red-btn hero-btn" href="">Open</a>
            
        </div>
        <div class="course-col">
            <h3>Others</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsa pariatur veniam ducimus magni aliquam rem, est vel, esse, quasi voluptatibus quisquam odio at adipisci assumenda modi rerum quibusdam corporis?</p>
            <a class="red-btn hero-btn" href="">Open</a>
        </div>
    </div>
</section>
<section class="facilities">
    <h1>Facilities</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

    <div class="row">
        <div class="facilities-col">
            <img src="images/testseries.jpg" alt="">
            <h3>Online Classes</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In illum perferendis harum sint suscipit similique sit repellat dignissimos sed. </p>
        </div>
        <div class="facilities-col">
            <img src="images/testseries.jpg" alt="">
            <h3>Test Series</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In illum perferendis harum sint suscipit similique sit repellat dignissimos sed. </p>
        </div>
        <div class="facilities-col">
            <img src="images/testseries.jpg" alt="">
            <h3>Coding Contest</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In illum perferendis harum sint suscipit similique sit repellat dignissimos sed. </p>
        </div>
        
    </div>
    <div class="row">
        <div class="facilities-col">
            <img src="images/testseries.jpg" alt="">
            <h3>Hackathons</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In illum perferendis harum sint suscipit similique sit repellat dignissimos sed. </p>
        </div>
        <div class="facilities-col">
            <img src="images/testseries.jpg" alt="">
            <h3>Special Courses</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In illum perferendis harum sint suscipit similique sit repellat dignissimos sed. </p>
        </div>
        <div class="facilities-col">
            <img src="images/testseries.jpg" alt="">
            <h3>Own Placement Cell</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In illum perferendis harum sint suscipit similique sit repellat dignissimos sed. </p>
        </div>
        
    </div>
</section>






<%- include("partials/footer") -%>