<section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eum iusto earum, similique distinctio quos corrupti quas <br> veritatis alias dolor odio aliquid facilis sequi facere numquam voluptatibus error necessitatibus quia.</p>

    <div class="icons">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
    </div>
    <p>Copyright © 2021 Eduford Inc. All rights reserved.</p>
</section>


<script>

    var na = document.getElementById("navLinks");



    function showMenu(){
        na.style.right="0"
    }
    function hideMenu(){
        na.style.right="-200px";

    }
    

</script>

</body>
</html>